/* ABOVE THE FOLD */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

/* declarations */

:root {
  --lg-global-color-primary: #252F39;
  --lg-global-color-secondary: #fff;
  --lg-global-color-text: #252F39;
  --lg-global-color-accent: #FF4852;
  --lg-global-color-alabaster: #E0E2DB;
  --lg-global-color-cultured-light: #F0F0ED;
  --lg-global-color-cultured-lighter: #F5F4F3;
  --lg-global-color-emerald: #23CE6B;
  --lg-global-color-silver-sand: #C0C2BD;
  --lg-global-typography-primary-font-family: -apple-system, 'Manrope', sans-serif !important;
}

html, body, *, h1, h2, h3, h4, h5, h6, .footer__link {
  font-family: var( --lg-global-typography-primary-font-family );
}

html, body, * {
  font-weight: normal;
  font-style: normal;
}

/* header */

a.Logo span {
    font-family: 'Manrope', sans-serif !important;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
}

.Logo__logoText__3ioVZ {
    min-height: 25px;
}

@media screen and (max-width:767px) {
  #topbar-container a > img {
    margin-left: -34px;
  }
}

/* hero */

.marketplace-lander .marketplace-lander-content {
    padding: 6.7em 1em;
    text-align: center;
}

.marketplace-lander-content-description.hidden-title-part {
    display: none;
}

.marketplace-lander .marketplace-lander-content-title {
    line-height: 1.1em;
    margin-bottom: 20px;
}

@media screen and (max-width:480px) {
  .marketplace-lander .marketplace-lander-content-title {
    font-size: 1.9em;
  }
}

@media screen and (min-width:1008px) {
  .marketplace-lander .marketplace-lander-content-title {
    max-width: 950px;
    margin: 0 auto;
  }
}

.home-toolbar {
    border-bottom: transparent;
}

@media screen and (max-width:767px) {
  .home-toolbar {
      margin-top: 0.5em !important;
  }
}

@media screen and (min-width:768px) {
  .home-toolbar {
      margin-bottom: 0.25em !important;
  }
}

.marketplace-lander p {
    font-size: 1.25em;
    font-weight: 500;
    max-width: 100%;
}

.marketplace-lander-content ul li {
    list-style: none;
    color: #fff;
    font-size: 1.4em;
}

@media screen and (max-width:767px) {
  .marketplace-lander-content ul li {
      margin: 5px;
      font-size: 1.1em;
  }
}

@media screen and (min-width:768px) {
  .marketplace-lander-content ul li {
      display: inline-block;
      margin: 15px 30px 15px 15px;
  }
}

.marketplace-lander-content ul li i {
  margin-right: 10px;
  margin-left: -15px;
}

/* filter */

#home_toolbar-select-share-type {
    display: none;
}

.custom-filter-options {
    margin-bottom: 5px;
}

.custom-filter-checkbox-label {
    padding-left: 1px;
}

/* GLOBAL */

input[type="checkbox"] {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    position: relative;
    top: 1px;
    min-width: 1.1em;
    min-height: 1.1em;
}

select,
input[type="checkbox"],
.noUi-handle, 
.custom-filter-checkbox-label:hover input,
.custom-filter-checkbox-label-text:hover, 
.recaptcha-checkbox-border {
    cursor: pointer;
}

.ajax-error,
.flash-error,
.ajax-update-error, 
.error, 
label.error {
    color: inherit;
    background: var( --lg-global-color-cultured-light );
}

.flash-notification.flash-warning {
    border: 2px solid var( --lg-global-color-accent );
    border-radius: 10px;
}

.flash-notification .flash-text a {
    color: var( --lg-global-color-accent );
}

/* colors */

body,
.marketplace-lander .marketplace-title-header h1,
.flash-text,
.listing-price-amount {
  color: var( --lg-global-color-primary );
}

button:hover, 
.button:hover, 
.big-button:hover, 
.inline-big-button:hover, 
.tribe-actions a:hover, 
.marketplace-lander button.action-button:hover, 
.home-toolbar-button-group-button:hover, 
.home-toolbar-show-filters-button:hover, 
.enabled-book-button:hover, 
.disabled-book-button:hover, 
.message-book-button:hover, 
.listing-shape-delete-button:hover {
  background: var( --lg-global-color-primary );
}

.noUi-handle {
  background: var( --lg-global-color-silver-sand );
}

.noUi-handle:hover {
  background: var( --lg-global-color-primary );
}

.home-toolbar-button-group-button,
.home-toolbar-show-filters-button,
.ajax-notice,
.ajax-warning,
.flash-notice,
.flash-warning,
.ajax-update-notice,
.home-no-listings,
.listing-author-contact-button, 
.noUi-background, 
.left-navi a.selected, 
tbody tr:nth-child(odd), 
.account-settings .account-settings-row .account-settings-email-row-highlight {
  background: var( --lg-global-color-cultured-light );
}

.home-toolbar-button-group-button.selected, 
.home-toolbar-show-filters-button.selected {
  background-color: var( --lg-global-color-primary );
  border-color: var( --lg-global-color-primary );
}

.home-fluid-thumbnail-grid-author {
  background-color: var( --lg-global-color-cultured-light );
}

.listing-author-contact-button:hover {
  background: var( --lg-global-color-primary );
  color: #fff;
}

.row-with-divider {
  border-bottom-color: var( --lg-global-color-cultured-light );
}

.initiate-transaction-totals {
  background-color: var( --lg-global-color-cultured-lighter );
}

/* margin & padding */

.home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid {
    margin-right: -0.75em;
}

.home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item {
    padding-right: 0.75em;
    padding-left: 0.75em;
}

@media screen and (max-width:767px) {
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid {
    margin-left: -0.75em;
  }
}

@media screen and (min-width:768px) {
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item > div {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
  }
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item {
    position: relative;
    transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
    transform: translateY(5px);
  }
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item:hover {
      transform: translateY(0px);
  }
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item:focus:hover, 
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item:active:hover {
      transform: translateY(5px) !important;
  }
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item:hover > div {
      box-shadow: 0px 7px 14px 0px var( --lg-global-color-alabaster );
  }
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item:focus:hover > div, 
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item:active:hover > div {
      box-shadow: none;
  }
}

.listing-fb-like-button, .listing-tweet-button {
    padding-top: 4px;
}

.home-fluid-thumbnail-grid-author,
.initiate-transaction-totals {
  min-height: 60px;
  padding: 5px;
}

.home-fluid-thumbnail-grid-author {
  height: 60px;
}

.home-fluid-thumbnail-grid-author-name {
    top: 10px;
    left: 57px;
}

/* buttons */

button,
.button,
button.enabled-book-button {
    background-color: var( --lg-global-color-accent );
}

.AddNewListingButton_background {
    background-color: var( --lg-global-color-accent ) !important;
}

.google-login-button {
    background: var( --lg-global-color-accent );
}

.enabled-book-button .content {
    font-size: 0.8em;
}

button.SearchBar__searchButton__1Ck2b,
button.SearchBar__mobileToggle__3pjye),
.SearchBar__searchButton__1Ck2b {
    background-color: transparent !important;
}

.AddNewListingButton_desktop {
    padding-left: 18px;
}

form#stripe-account-form {
    padding-bottom: 30px;
}

/* border radius */

button,
.button,
.AddNewListingButton,
.AddNewListingButton_background,
.listing-author-contact-button,
.home-toolbar-show-filters-button,
.profile-contact-link,
.follow-button, 
.noUi-handle {
    border-radius: 100px !important;
}

.home-toolbar-button-group-button:first-child {
    -moz-border-radius-topleft: 100px;
    -webkit-border-top-left-radius: 100px;
    border-top-left-radius: 100px;
    -moz-border-radius-bottomleft: 100px;
    -webkit-border-bottom-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.home-toolbar-button-group-button:last-child {
    -moz-border-radius-topright: 100px;
    -webkit-border-top-right-radius: 100px;
    border-top-right-radius: 100px;
    -moz-border-radius-bottomright: 100px;
    -webkit-border-bottom-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.googlemap,
.googlemap
.embed-container,
.googlemap .embed-container iframe,
.home-map,
.map,
.gm-style,
.gm-style, .gm-style div,
.gm-style iframe,
.people-image-mobile > img,
.people-image > img,
.home-fluid-thumbnail-grid-item,
.home-fluid-thumbnail-grid-item > div {
    border-radius: 20px;
}

.people-listings.fluid-thumbnail-grid-image-overlay,
.people-listings.fluid-thumbnail-grid-image-image, 
.home-map div {
  -moz-border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  border-radius: 20px !important;
}

@media screen and (max-width:479px) {
  .fluid-thumbnail-grid-image-overlay {
    -moz-border-radius-topleft: 20px !important;
    -webkit-border-top-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
    -moz-border-radius-topright: 20px !important;
    -webkit-border-top-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }
  .fluid-thumbnail-grid-image-image {
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px !important;
  }
  .home-fluid-thumbnail-grid-author {
      -moz-border-radius-bottomleft: 20px;
      -webkit-border-bottom-left-radius: 20px;
      border-bottom-left-radius: 20px;
      -moz-border-radius-bottomright: 20px;
      -webkit-border-bottom-right-radius: 20px;
      border-bottom-right-radius: 20px;
  }
  .home-fluid-thumbnail-grid-author-avatar-image {
      border-radius: 14px !important;
  }
}

.home-list-image,
.listing-image-thumbnail {
  border-radius: 15px;
}

@media screen and (min-width:480px) {
  .fluid-thumbnail-grid-image-image,
  .fluid-thumbnail-grid-image-overlay {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .home-fluid-thumbnail-grid-author {
      -moz-border-radius-bottomleft: 10px;
      -webkit-border-bottom-left-radius: 10px;
      border-bottom-left-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
}

select,
input[type="text"],
input[type="password"],
input[type="number"],
textarea,
.StripeElement,
.listing-author-avatar-image,
.initiate-transaction-totals,
#listing_map_canvas, 
.status-select-button, 
.account-settings .account-settings-row, 
.paypal-wizard {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.home-fluid-thumbnail-grid-author-avatar-image {
    border-radius: 7px;
}

#map_bubble .bubble-image-container {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* other borders */

select,
input[type="text"],
input[type="password"],
input[type="number"],
textarea,
.StripeElement, 
.status-select-button, 
.account-settings .account-settings-row, 
.paypal-wizard {
    border: 1px solid var( --lg-global-color-alabaster );
}

select:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
textarea:hover,
.StripeElement:hover, 
.status-select-button:hover {
    border-color: var( --lg-global-color-primary );
}

select:focus,
input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="number"]:focus-visible,
textarea:focus-visible,
.StripeElement:focus-visible,
.StripeElement--focus, 
.status-select-button:focus-visible {
    outline: none;
    border-color: var( --lg-global-color-emerald );
    border-width: 2px;
}

:focus, 
:focus-visible {
    outline: none;
}

/* containers */

.wrapper {
    max-width: 70em;
}

/* login */

.marketplace-lander .coverimage-fade {
    background: rgb(255, 255, 255);
}

/* listings */

.listing-title {
    font-size: 1.2em;
    font-weight: bold;
}

.listing-title, 
.fluid-thumbnail-grid-image-title {
    text-transform: capitalize;
}

.home-categories-link, 
.home-categories-main, 
.home-categories-sub {
    color: var( --lg-global-color-primary );
    text-transform: capitalize;
}

.home-categories-main::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    margin-right: 6px;
}

.home-categories-main, 
.home-categories-main::before {
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.home-categories-main:nth-child(1).selected, 
.custom-filter-title {
    margin-bottom: 5px;
}

.home-categories-link, 
.home-categories-main, 
.home-categories-sub {
    color: var( --lg-global-color-primary );
    text-transform: capitalize;
}

.home-categories-main:nth-child(2)::before {
    content: "\f140";
    position: relative;
    top: -1px;
    left: 3px;
    margin-right: 11px;
}

.home-categories-main:nth-child(3)::before {
    content: "\f578";
    margin-right: 7px;
}

.home-categories-main:nth-child(3).selected::before {
    font-size: 1.08em;
}

.home-categories-main:nth-child(4)::before {
    content: "\f6bb";
}

.home-categories-main:not(.selected):hover::before {
    font-size: 1.2em;
    top: 1px;
    margin-top: -2px;
    margin-bottom: -1px;
}

.home-categories-main.selected::before {
    font-weight: 900;
}

.home-categories-main:not(.selected):hover::before, 
.home-categories-main:not(.selected):hover, 
.custom-filter-options label:hover {
    color: var( --lg-global-color-accent );
}

.custom-filter-title,
.profile-action-buttons-mobile {
    border-bottom: transparent;
}

.fluid-thumbnail-grid-image-price-container {
    background-color: #fff;
    border-radius: 100px;
    padding: 0 10px;
    top: 10px;
    right: 10px;
    font-size: 1.1em;
}

.fluid-thumbnail-grid-image-quantity {
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.25px;
}

.fluid-thumbnail-grid-image-title {
    font-size: 1.1em;
    font-weight: bold;
}

.listing-image-carousel,
#listing-image-frame,
.listing-image-link,
.listing-image {
    border-radius: 20px 20px 0 0;
}

.listing-image-thumbnail-stripe {
    background: #F5F4F3;
    margin: 0;
    border-radius: 0 0 20px 20px;
    padding: 10px !important;
    min-height: 83px;
}

.listing-image-thumbnail-stripe > div {
    left: 10px !important;
}

.listing-image-thumbnail-container>.fade {
    background-color: transparent;
}

.listing-description-content {
    padding-top: 20px;
    padding-bottom: 10px;
}

.listing-description-content p {
    margin-bottom: 25px;
}

/* mobile listing toggle */

@media screen and (max-width:767px) {
  .toggle.with-borders {
      border: 0 solid var( --lg-global-color-cultured-light );
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      background: var( --lg-global-color-cultured-light );
      padding-left: 7px;
      padding-right: 7px;
  }
  .toggle.with-borders.toggled {
      border-radius: 20px 20px 0 0;
  }
  .toggle.with-borders.toggled {
    border-radius: 20px 20px 0 0;
    background: var( --lg-global-color-accent );
  }
  .toggle-menu {
    background: var( --lg-global-color-cultured-light );
    border-color: var( --lg-global-color-cultured-light ) !important;
  }
  .toggle-menu, 
  .toggle-menu a:last-child {
    border-radius: 0 0 20px 20px;
  }
  .toggle-menu a {
    color: var( --lg-global-color-primary );
  }
}

/* social */

.listing-social {
    display: inline-block;
    padding: 15px 15px 10px 15px;
    background: var( --lg-global-color-cultured-light );
    border-radius: 10px;
    margin-top: 30px;
}

.listing-fb-like-button, 
.listing-tweet-button {
  margin-right: 0;
  display: inline-block;
}

.fb_iframe_widget {
  display: inline;
}

.listing-tweet-button {
  position: relative;
  top: -2px;
}

/* transactions */

.initiate-transaction-totals {
    margin-top: 20px;
    padding: 20px;
}

/* account settings */

.account-settings-row {
    padding: 15px;
}

.account-settings .account-settings-row .account-settings-icon {
    top: 22px;
    left: 27px;
}
